<!DOCTYPE html>
<html ng-app='riff'>
<head>
  <title>riff</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <input id="sidebartoggler" type="checkbox">/
    <div class="page-wrapper">
      <label class="toggle" for="sidebartoggler">ff</label>
      <div class="page-content">
        <%= yield %>
      </div>
      <div class="sidebar">
        <li>Home</li>
        <%=render 'layouts/sidebar'%>
      </div>
    </div>
  </input>

</body>
</html>
